<div class="container color-dark">
    <div class="col-sm-3">
        <p>LogIn / SignUp</p>
    </div>

   
</div>
<div class="container color-light row" ><!--[@goals]="goals.length"-->
   
    <form>
		<div class="col-md-4"></div>
        <div class="col-md-4">
			<input type="text" class="txt" name="username" placeholder="Username" [(ngModel)]="userName" required>  
		</div>
		<div class="col-md-4">
        <input type="password" class="txt" name="password" placeholder="password" [(ngModel)]="password" required> 
		</div>
		<input type="submit" class="btn" [value]="btnText" (click)="auth($event)" >
		<!--<button (click)="partialUpdate()">Partial Update</button>
    <button (click)="fullUpdate()">Full Update</button>
<button (click)="reset()">Cancel</button>-->
	</form>

</div>